@model MirumTeste.ApplicationCore.Entity.Pessoa

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Pessoa</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="Rg" class="control-label"></label>
                <input asp-for="Rg" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
            </div>

            <div class="form-group">

                @*@Html.LabelFor(m => m.Cargos)
                @Html.DropDownListFor(m => m.Cargos, // 1. Store selected value in Model.State;
                                                    // when page is rendered after postback,
                                                    // take selected value from Model.State.

                                      // 2. Take list of values from Model.States
                                      Model.Cargos,

                                      // 3. Text for the first 'default' option
                                      "- Please select a state -",

                                      //4. A class name to assign to <select> tag
                                      new { @class = "form-control" })*@
                @*<select asp-for="Cargos" asp-items="@Model.Cargos">
            <option>Please select one</option>
        </select>*@
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
